PortLog/MVCPortLog/Connected Services/ServiceReference1/ServicioProducto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63693/ServicioProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices" />
  <xs:element name="ProductoXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="ProductoXIdResult" nillable="true" type="q1:DtoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosLosProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosLosProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="ListarTodosLosProductosResult" nillable="true" type="q2:ArrayOfDtoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>