PortLog/MVCPortLog/Connected Services/ServiceReference1/ServicioProducto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DtoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoProducto" nillable="true" type="tns:DtoProducto" />
  <xs:complexType name="ArrayOfDtoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoProducto" nillable="true" type="tns:DtoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoProducto" nillable="true" type="tns:ArrayOfDtoProducto" />
</xs:schema>